.layout {
    display: flex;
    justify-content: center;
    padding-top: 1.6rem;
}

.Blogs {
    width: 100%;
    padding-bottom: 2rem;
    margin-top: 2rem;
}

.container {
    display: flex;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

